In [2]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np

/Users/wknq25/opt/anaconda3/envs/geocoder_py38/lib/python3.8/site-packages/geopandas/_compat.py:123: UserWarning: The Shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(
/var/folders/fg/_n1n9v7x7x1bk7m6gwfkv97m0000gp/T/ipykernel_2810/3767639949.py:2: UserWarning: Shapely 2.0 is installed, but because PyGEOS is also installed, GeoPandas will still use PyGEOS by default for now. To force to use and test Shapely 2.0, you have to set the environment variable USE_PYGEOS=0. You can do this before starting the Python process, or in your code before importing geopandas:

import os
os.environ['USE_PYGEOS'] = '0'
import geopandas

In a future release, GeoPandas will switch to using Shapely by default. If you are using PyGEOS directly (calling PyGEOS functions on geometries from GeoPandas), this will then stop working and you are encouraged to migrate from PyGEOS to Shapely 2.0 (https://shapely.readthedocs.io/en/latest/migration_pygeos.html).
  import geopandas as gpd

In [2]:
year = 1851
country = "EW"

In [3]:

gb1900_data_file = f"output_geom_test/{year}/{country}/gb1900/gb1900_{country}_{year}.geojson"
# open_roads_data = "../output_geom_test/1901/EW/os_open_roads/os_open_roads_EW_1901.geojson"

In [4]:
gb1900 = gpd.read_file(gb1900_data_file)
gb1900.head()

,gb1900_EW_1851,pin_id,final_text,conparid_51-91,CEN_1851,count,dist_calc,geometry
0,52d73146c4931d000e00b112_12480_3610002,52d73146c4931d000e00b112,VICARAGE,12480,3610002,1,NaN,POINT (320949.215 328423.258)
1,52d731e3c4931d000800a2a0_12480_3610002,52d731e3c4931d000800a2a0,POLICE STATION,12480,3610002,1,NaN,POINT (320974.573 328029.188)
2,53f75f10e678ef000b00024c_12480_3610002,53f75f10e678ef000b00024c,TY NEWYDD,12480,3610002,1,NaN,POINT (320859.559 327007.848)
3,52d73131c4931d000500b249_12480_3610002,52d73131c4931d000500b249,SMITHY,12480,3610002,1,NaN,POINT (320959.605 328837.618)
4,52d7316fc4931d000e00b11d_12480_3610002,52d7316fc4931d000e00b11d,WHITE LION INN,12480,3610002,1,NaN,POINT (320992.414 328280.522)

In [3]:
linked_geoms = pd.read_csv("analysis_alignment_test3/1851/EW/link_lkup_merged_geoms.tsv", sep = "\t", nrows = 100)
linked_geoms.head()

,RecID,os_open_roads_EW_1851,rapidfuzzy_wratio_s_x,gb1900_EW_1851,rapidfuzzy_wratio_s_y,geocode,unique_add_id
0,3747963,NaN,NaN,NaN,NaN,not_linked,BASINGSTOKE ROAD_1254_1190002
1,3747964,NaN,NaN,NaN,NaN,not_linked,BASINGSTOKE ROAD_1254_1190002
2,3747965,NaN,NaN,5856c6ef2c66dc10b8013bbe_1254_1200001,1.0,gb1900,WASING PLACE_1254_1200001
3,3747966,NaN,NaN,5856c6ef2c66dc10b8013bbe_1254_1200001,1.0,gb1900,WASING PLACE_1254_1200001
4,3747967,NaN,NaN,5856c6ef2c66dc10b8013bbe_1254_1200001,1.0,gb1900,WASING PLACE_1254_1200001